.contenedor-error{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 102vh; 
    background-color: rgb(90, 180, 91);
}

.img-error{

    margin: auto;
    height: 117vh;
}
