.footer{
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
   
  }
  
  .copyright {
    align-self: flex-end;
  }

.txtFooter{
  color: rgb(226, 226, 226);
}

