
.container-HA{
    background-color: #ebebeb;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://cdn.lecturio.com/assets/Featured-image-Student-Blog-Hospital-Team.jpg") center/cover no-repeat;
   letter-spacing: 0.2px;
}
.vacioHA{
    width: 100%;
    height: 80px;
}

.encabezado{
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.733);
    text-align: center;
}

.Tablas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.tabla1{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-papel-viejo-vendimia-grunge_1373-431.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(7px 7px 1px rgba(0, 0, 0, 0.551));
    color: black;
    text-align: start;
    max-width: 750px;
    font-size: 20px;
    padding: 20px;
  }

  .tabla1 table {
    width: 100%;
    border-collapse: collapse;
    color: #000000;

  }
  
  .tabla1 h2,
  .tabla1 h3 {
    text-align: center; 
    text-decoration: underline;
  }

.tabla1 th,
.tabla1 td {
  border: 2px solid #000000; 
  padding: 8px; 
  color: #000000;

}
  


  