.MainHome{
  background-color: #82c294;
}

#vacio{
  width: 100%;
  height: 80px;
  background-color: #82c294;
}

#carrusel {
  width: 50%; 
  height: 50%;
  margin: 120px auto 0; 
  font-family: 'Playfair Display', serif;

}

#img1{
  object-fit: fill;
  width: 100%;
  height: 100%;
}

#horarios .divAncla img{
  width: 70%;
}

#horarios{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

#hor1{
  border: 3px black solid;
  border-radius: 15px;
  margin-top: 5px;
  text-decoration: none;
  color: black;
}

.divAncla {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.divAncla > a > img {
  max-width: 15em;
}

.divAncla p{
  font-size: 20px;
}

#cards{

  object-fit: fill;
  font-family: 'Playfair Display', serif;

}



#nodos {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#nodos div img {
  width: 40%;
}

#nodos1{
  text-decoration: none;
  color: black;
}

#nodos p{
  font-size: 20px;
}