

#horarios .divAncla img{
  width: 70%;;
}

#nodos div img {
  width: 40%;
}


#carrusel {
  max-width: 70%; 
  max-height: 50%;
  margin: 0 auto; 
  font-family: 'Playfair Display', serif;
}
#horarios{
  font-family: 'Playfair Display', serif;
}
.divAncla {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.divAncla > a > img {
  max-width: 15em;
}
#cards{
  font-family: 'Playfair Display', serif;
}
#nodos {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
}