*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-family: var(--bs-body-font-family);
    letter-spacing: 1px;
}
.bodyLogin{
    width: 100vw;
    height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-content: center;
}
::-webkit-input-placeholder{
    color: #0fd850;
}
.Login{
    margin: auto;
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #4f976c;
    box-shadow: 0 0 50px 0 #0fd850;
}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo1{
    font-size: 35px;
    color: #0fd850;
}
.inp1{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
.input1{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: #0fd850;

}
.submit1{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #60ba85 0%, #4f976c 100%);
}
.banner1{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 390px;
    background: linear-gradient(to right,#60ba85 0%, #4f976c 100%);
    clip-path: polygon(0 0,100% 0,100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.Bienvenido1{
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
}

.error{
    color: #0fd850;
}
.btnVolver{
    color: white;
    text-decoration: none;
}