
.titulo-historia{
color: white;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.733);
text-align: center;
padding: 20px;

}

.historial-body{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.parrafo-historia{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-papel-viejo-vendimia-grunge_1373-431.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(7px 7px 1px rgba(0, 0, 0, 0.551));
    color: black;
    text-align: start;
    max-width: 750px;
    font-size: 20px;
    padding: 20px;
}

.columna-img-historia{
    display: flex;
    flex-direction: column;
    
}

.imagen-hitoria1{
    
    filter: drop-shadow(5px 5px 1px  #00000082);
    background-color: white;
    height: 750px;
    margin-bottom: 20px;
}

.imagen-hitoria1 p{
    padding: 10px;
    width: 500px;
}
.imagen-hitoria2 p{
    padding: 10px;
    width: 500px;
}

.imagen-hitoria2{
    filter: drop-shadow(5px 5px 1px #00000082);
    background-color: white;
    height: 500px;
    margin-bottom: 20px;
}

.columna-img-historia img{
    
    width: 500px;
    /* filter: drop-shadow(10px 10px  #e2e3e7); */
    
    padding: 10px;
    
}